.product {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 20%;
    max-width: 150px;
    cursor: pointer;
}

.img { 
    margin: 10px 5px 5px 5px;
    max-width: 100%;
  }