
.busquedawrapper {
    padding-top: 10%;
    background: rgb(204, 44, 44);
    padding-left: 2%;
    padding-right: 2%;
    flex-direction: column;
  }

  .product > img { 
    max-width: 50%;
    max-height: 50%;
    height: auto;
    width: auto;
  }

  .profilewrapper {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
  }
  .busquedainner > input {
    background-color: #f1f1f1;
    width: 100px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
  }
  
  .busquedainner {
    background: rgba(3, 16, 253, 0.2);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    transition: all .3s;
  }

  .product {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 50px;
    max-width: 100px;
}

.container{
  background-color: rgba(255, 255, 255, 0.5); 
}
  
.maph2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.googlemap {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pinicon {
  font-size: 4rem;
}

.pintext {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .googlemap {
    height: 80vh;
  }

  .maph2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pinicon {
    font-size: 10vw;
  }
}